.icon-full-container {
    display: flex;
    justify-content: space-around; /* لجعلهم في المنتصف أفقيًا */
    gap: 20px; /* مسافة بين العناصر */
    flex-wrap: wrap; /* يسمح بانتقال العناصر للسطر التالي إذا لم يكن هناك مساحة كافية */
    margin-top: 30px;
  }
  
  .icon-text-container {
    display: flex;
    flex-direction: column; /* يجعل الأيقونة فوق النص */
    align-items: center; /* يوسّط الأيقونة والنص */
    
  }
  
  .icon-container {
    background-color: rgb(218, 123, 175);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-text-container p {
    margin: 5px 0 0; /* إزالة الهوامش الزائدة */
    display: inline-block; /* يمنعه من أخذ العرض بالكامل */
    text-align: center;
    color: gray;
  }
  